<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>setembro amarelo - Sua vida vale muito</title>
</head>
<body>
    <h1>Setembro amarelo </h1>
    <hr>

    <p>SPA para conscientizar sobre o tema, utilizando tecnologias NodeJs + ExpressJS + EJS.</p>
    <p><a href="/erro">Não clique</a></p>
</body>
</html>